# 31203_김예인_0518

**[13]**<br>
정수(int) 2개를 입력받아 그대로 출력해보자.(단, 띄어쓰기를 기준으로 입력한다.)<br>
입력 : 1 5<br>
출력 : 1 5

In [14]:
a = list(map(int, input('입력 : ').split()))
print('출력 :',a[0], a[1])

입력 : 1 5
출력 : 1 5

**[14]**<br>
2개의 문자(ASCII CODE)를 입력받아서 순서를 바꿔 출력해보자.<br>
**아스키코드란?**<br>
- 컴퓨터가 문자를 읽을 수 있도록 문자에 대응하는 숫자들이 존재한다.
- 예) A => 1100001
- 이때의 문자가 '아스키 문자'이며, 숫자가 '아스키 코드'이다.

In [18]:
b = input('입력 : ').split()
print('출력 :',b[1], b[0])

입력 : a B
출력 : B a

**[15]**<br>
실수(float) 1개를 입력받아 저장한 후, 저장되어 있는 값을 소수점 셋 째 자리에서 반올림하여 소수점 이하 둘 째 자리까지 출력하시오.<br>
**Tip::**
1. 반올림 함수 round()를 이용하면 된다.

In [25]:
c = float(input('입력 : '))
print('출력 :',round(c,2))

입력 : 3.14159265358972323
출력 : 3.14

In [28]:
c = round(float(input('입력 : ')))
print('출력 :', c)

입력 : 3.14159265358972323
출력 : 3

**[16]**<br>
int형 정수 1개를 입력받아 공백을 사이에 두고 3번 출력해보자.

In [29]:
d = int(input('입력 : '))
print(d,d,d)

입력 : 1
1 1 1

**[17]**<br>
어떤 형식에 맞추어 시간이 입력될 때, 그대로 출력하는 연습을 해보자.
콜론(:) 기호를 기준으로 두 수가 각 변수에 저장된다.<br>
입력 : 3:15<br>
출력 : 3:15<br>
**Tip::**
1. split()의 매개변수로 문자열을 분할하기 위한 기준을 정의할 수 있다.
2. 문자열의 메소드(함수)인 format()을 이용하면 문자열 내부에  변수값을 대입할 수 있다.

In [39]:
h, m = input('입력 : ').split(':')
# print('출력 : '+h+':'+m)
print('출력 :','{}:{}'.format(h,m))

입력 : 3:15
출력 : 3:15