# 31203_김예인_0418

# 1. 리스트

```
리스트 여러 데이터를 한 번에 묶어서 표현
리스트 이름 = [데이터1, 데이터2, ..., 데이터n]
```

> 실생활의 리스트
</br>
> 파이썬의 리스트

In [4]:
# 1월 지출부터 6월 지출까지 리스트 만들기

spending = [25,36,8,53,24,56]

In [6]:
print(spending)

[25, 36, 8, 53, 24, 56]

In [7]:
type(spending)

list

In [8]:
# 1월 지출은?

print(spending[0])

25

In [9]:
# 6월 지출은?

print(spending[5])

56

In [10]:
# 3월 지출은?

print(spending[2])

8

### 리스트 변경하기

> 변경 전
</br>
> 변경 후

In [12]:
# 4월 지출이 10 낮게 기록되었다. 4월 지출에 10을 더하시오.

print('변경 전 : ', spending)

spending[3] += 10

print('변경 후 : ', spending)

변경 전 :  [25, 36, 8, 53, 24, 56]
변경 후 :  [25, 36, 8, 63, 24, 56]

In [14]:
# 5월 지출을 2로 나누시오. 
print('변경 전 : ', spending)

spending[4] /= 2

print('변경 후 : ', spending)

변경 전 :  [25, 36, 8, 63, 24, 56]
변경 후 :  [25, 36, 8, 63, 12.0, 56]

### 마이너스 인덱스

In [16]:
# 마이너스 인덱스 6월 지출은?
print(spending[-1])

56

In [17]:
# 마이너스 인덱스 5월 지출은?
print(spending[-2])

12.0

# 2. 리스트의 다양한 기능

### 리스트의 길이
>len(리스트이름)

In [19]:
len(spending)

6

In [21]:
name = '성일정보고등학교'
len(name)

8

### 리스트에 데이터 추가하기
> 리스트이름.append(데이터)

```
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']
```

In [22]:
food = ['피자', '치킨', '떡볶이', '스테이크', '파스타']

In [23]:
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타']

In [24]:
food.append('감자칩')

print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩']

In [25]:
# 돈까스 추가해 봅시다.

food.append('돈까스')
print(food)

['피자', '치킨', '떡볶이', '스테이크', '파스타', '감자칩', '돈까스']

### 빈 리스트를 만들고 데이터를 추가해 봅시다.
> 리스트이름 = []

In [26]:
# 버킷리스트 to_do

# 빈 리스트
to_do = []

to_do.append('여행')
print(to_do)

['여행']