# 31203_김예인_0413

# 1. 리스트

```
리스트 여러 데이터를 한번에 묶어서 표현
형식 : 리스트이름 = [데이터1, 데이터2, ...... ,데이터n]
```

In [21]:
# 1월 지출부터 6월 지출까지 리스트로 만들기
spending = [25, 36, 8, 53, 24, 56]

print(spending)

[25, 36, 8, 53, 24, 56]

In [2]:
type(spending)

list

In [22]:
# 1월 지출은?
print(spending[0])

# 6월 지출은?
print(spending[5])

25
56

In [23]:
# 알고보니 4월 지출이 10 낮게 기록되었다. 4월 지출에 10을 더하시오.
print('변경 전 : ' ,spending)
spending[3] += 10 # spending[3] = spending[3] + 10
print('변경 후 : ' ,spending)

변경 전 :  [25, 36, 8, 53, 24, 56]
변경 후 :  [25, 36, 8, 63, 24, 56]

In [24]:
print(spending)

[25, 36, 8, 63, 24, 56]

In [25]:
# 5월 지출을 2로 나누세요
print('변경 전 : ' ,spending)
spending[4] /= 2
print('변경 후 : ' ,spending)

변경 전 :  [25, 36, 8, 63, 24, 56]
변경 후 :  [25, 36, 8, 63, 12.0, 56]

In [26]:
print(spending)

[25, 36, 8, 63, 12.0, 56]

In [28]:
print(spending[4])
print(spending[-2])

12.0
12.0