---
## **2. 기초-입출력**
---

**[10]**  
정수형(int)으로 변수를 선언하고, 변수에 정수값을 저장한 후
변수에 저장되어 있는 값을 그대로 출력해보자.<br>
- 입력함수 이용 input
- 변수를 이용
- 정수형 int

In [4]:
a = int(input('입력 : '))
print('출력 :',a)

입력 : 11
출력 : 11

**[11]**  
문자형(char)으로 변수를 하나 선언하고, 변수에 문자를 저장한 후
변수에 저장되어 있는 문자를 그대로 출력해보자.  

**Tip::**  
1. input()의 반환값은 기본으로 문자열로 정의된다.

In [6]:
b = input('입력 : ')
print('출력 :', b)

입력 : aa
출력 : aa

**[12]**  
실수형(float)로 변수를 선언하고 그 변수에 실수값을 저장한 후
저장되어 있는 실수값을 출력해보자.

In [11]:
c = float(input('입력 : '))
print('출력 :', c)
type(c)

입력 : 5
출력 : 5.0

float

**[13]**  
정수(int) 2개를 입력받아 그대로 출력해보자.
(단, 띄어쓰기를 기준으로 입력한다.)  
입력 : 1 5  
출력 : 1 5

In [36]:
d = list(map(int, input('입력 : ').split()))
print('출력 :', d[0], d[1])
type(d)

입력 : 10 20
출력 : 10 20

list

**[14]**  
2개의 문자(ASCII CODE)를 입력받아서 순서를 바꿔 출력해보자.

**아스키 코드란?**
- 컴퓨터가 문자를 읽을 수 있도록 문자에 대응하는 숫자들이 존재한다.
- 예 ) A => 1100001
- 이때의 문자가 '아스키 문자'이며, 숫자가 '아스키 코드'이다.

In [21]:
e = input('입력 : ').split()
print('출력 :', e[1], e[0])
type(e)

입력 : a B
출력 : B a

list

**[15]**  
실수(float) 1개를 입력받아 저장한 후,
저장되어 있는 값을 소수점 셋 째 자리에서 반올림하여
소수점 이하 둘 째 자리까지 출력하시오.  

**Tip::**  
1. 반올림 함수 round()를 이용하면 된다.

In [38]:
f = float(input('입력 : '))
print('출력 :', round(f , 2))

입력 : 3.141592
출력 : 3.14

**[16]**  
int형 정수 1개를 입력받아 공백을 사이에 두고 3번 출력해보자.

In [29]:
g = int(input('입력 : '))
print('출력 :',g,g,g)

입력 : 55
출력 : 55 55 55

**[17]**  
어떤 형식에 맞추어 시간이 입력될 때, 그대로 출력하는 연습을 해보자.  
콜론(:) 기호를 기준으로 두 수가 각 변수에 저장된다.  

입력 : 3:15  
출력 : 3:15  

**Tip::**  
1. split()의 매개변수로 문자열을 분할하기 위한 기준을 정의할 수 있다.
2. 문자열의 메소드(함수)인 format()을 이용하면 문자열 내부에 변수값을 대입할 수 있다.

In [35]:
h,m = input('입력 : ').split(':')
print('출력 :', '{}:{}'.format(h,m))

입력 : 3 : 15
출력 : 3 : 15