**[24]**<br>
단어를 1개 입력받는다.<br>
입력받은 단어(영어)의 각 문자를 한줄에 한 문자씩 분리해 출력한다.<br>
(단, 단어의 문자(영어)를 하나씩 나누어 한 줄에 한 개씩 ''로 묶어서 출력한다.)<br><br>
입력 : <br>
'Boy'<br>
출력 :<br>
'B'<br>
'o'<br>
'y'

In [17]:
a = input('입력 : ')
count = len(a)
for i in range(count) :
    print("'{}'".format(a[i]))

입력 : sungil
's'
'u'
'n'
'g'
'i'
'l'

In [18]:
a = input('입력 : ')
for i in range(len(a)) :
    print("'{}'".format(a[i]))

입력 : sungil
's'
'u'
'n'
'g'
'i'
'l'

**[25]**<br>
다섯 자리의 정수 1개를 입력받아 각 자리별로 나누어 출력한다.<br>
입력 : 75254<br>
출력 : <br>
[70000]<br>
[5000]<br>
[200]<br>
[50]<br>
[4]

In [38]:
b = input('입력 : ')
count = len(b)-1
print('출력 :')
for i in range(len(b)):
    print([int(b[i] + '0'*count)])
    count -= 1

입력 : 75254
출력 :
[70000]
[5000]
[200]
[50]
[4]

**[26]**<br>
입력되는 시:분:초 에서 분만 출력해보자.

In [40]:
c = input('입력 : ').split(':')
print('출력 :', c[1])

입력 : 16:20:00
출력 : 20

In [41]:
h,m,s = input('입력 : ').split(':')
print('출력 : {}'.format(m))

입력 : 16:22:30
출력 : 22

**[27]**<br>
년월일을 출력하는 방법은 나라마다, 형식마다 조금씩 다르다.<br>
년월일(yyyy.mm.dd)를 입력받아,<br>
일월년(dd-mm-yyyy)로 출력해보자.<br>
(단, 한 자리 일/월은 0을 붙여 두자리로 출력한다.)

In [48]:
y, m, d = input('입력 : ').split('.')
m = '0'+m if len(m) == 1 else m
d = '0'+d if len(d) == 1 else d
print('출력 : {}-{}-{}'.format(y,m,d))

입력 : 2022.5.5
출력 : 2022-05-05